{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
{{ .Scratch.Set "data" $data }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ partial "_menu.html" $data }}

        {{ partial "_profile.html" $data }}
        {{ partial "_summary.html" $data }}

        <div class="content_column">
            <div class="content_column__left">
                {{ partial "_skills.html" $data }}
            </div>
            <div class="content_column__right">
                {{ partial "_experience.html" $data }}
            </div>
        </div>

        {{ partial "_education.html" $data }}

        <!-- manually introduce pagebreak for printing -->
        {{ partial "_pagebreak.html" $data }}

        {{ partial "_publications.html" $data }}
        {{ partial "_interests.html" $data }}

        {{ partial "_print.html" $data }}
        </div>
    </div>
</body>
</html>
