{{ if .Profile.Contacts }}
<div id="contact" class="contact">
    <div class="contact__list">
        {{ range .Profile.Contacts }}
        <div class="contact__item">
            <!-- <i class="{{ .Icon }}"></i> -->
            <span>{{ .Info | safeHTML }}</span>
        </div>
        {{ end }}
        <!-- {{ range .Profile.ProfContacs }}
        <div class="contact__item">
            <i class="{{ .Icon }}"></i><span>{{ .Info | safeHTML }}</span>
        </div>
        {{ end }} -->
    </div>

</div>
{{ end }}
