{{ if .Experience }}
<div id="experience" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "experience" }}</h2>
    </div>
    <div class="section__content">
        {{ if .ExperienceFrom }}
        <div class="total__experience">
            {{ i18n "totalExperience" }}: 
            <span class="total__experience__timeline">{{ partial "_timeline.html" (dict "from" .ExperienceFrom "to" "" "hideDetails" true) }} </span>
        </div>
        {{ end }}
        <div class="experience">
            {{ range .Experience }}

            {{ if .Class }}
            <div class="experience__item {{ .Class }}">
            {{ else }}
            <div class="experience__item">
            {{ end }}
                <div class="experience__header">
                    <h3 class="experience__company">

                        {{ .Employer | safeHTML }}

                    </h3>
                    <h4 class="experience__company__timeline">
                        {{ partial "_timeline.html" (dict "from" .From "to" .To "hideDetails" true) }}
                    </h4>
                </div>
                {{ range .Positions }}
                <div class="experience__job">
                    <h3 class="experience__position">
                        {{ .Title | safeHTML}}
                    </h3>
                    <h4 class="experience__date">
                        {{ partial "_timeline.html" (dict "from" .From "to" .To) }}
                    </h4>

                    <h3 class="experience__place">{{ .Location | safeHTML }}</h3>
                    {{ if .Details }}
                        <ul class="experience__list">
                            {{ range .Details }}
                            <li class="experience__bullet">{{ .Desc | safeHTML }}</li>
                            {{ end }}
                        </ul>
                    {{ end }}

                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
