<div class="menu" id="menu">
    <ul>
        <li onClick="window.print();onMenuClick()">
            <i class="fa-solid fa-print"></i>
            <span> Print/Save as PDF</span>
        </li>
        <li onClick="window.print();onMenuClick()">
            <i class="fa-solid fa-circle-half-stroke"></i>
            <span> Toggle Light Mode/Dark Mode</span>
        </li>
    </ul>
    <div class="button-container">
        <i id="menuButon" onClick="onMenuClick()" class="fa-solid fa-angles-down" ></i>
        <!-- code to handle functionality is in customscript.js -->
    </div>
</div>