{{ if .Publications }}
<div id="publications" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "publications" }}</h2>
    </div>
    <div class="section__content">
        <ul>
            {{ range .Publications }}
            <li>
                {{ .Name | safeHTML }}
                <br/>
                {{ if .Link }}
                    <a class="contact__link" target="_blank" href="{{ .Link }}" >{{ .Link }}</a>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
