{{ if .Skills }}
<div id="skills" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "skills" }}</h2>
    </div>
    <div class="section__content">
        <ul class="skills">
            {{ range .Skills }}
            <li>
                <span>{{ .Family | safeHTML }}</span>
                <br>

                <ul class="skills__details">
                    {{ range .Details }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
                <ul class="skills__group">
                
                    {{ range .Items }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
               
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
