{{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
{{ $data := .Scratch.Get "data" }}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7M38YVWBK8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7M38YVWBK8');
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://kit.fontawesome.com/3e5f97c447.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen,print" />
    <!-- <script defer language="javascript" type="text/javascript"  src="/js/customscript.js"></script> -->

    <script>
                
        function onMenuClick(){
            var menu = document.getElementById('menu');
            var button = document.getElementById('menuButon');
            menu.classList.toggle('open');
            button.classList.toggle('fa-angles-down');
            button.classList.toggle('fa-angles-up');
        }

        function onModeToggle(){
            var body = document.querySelector('body');
            body.classList.toggle('dark-mode');
        }
    </script>

    {{ if .Site.Params.enableMetaTags }}
        <meta property="og:title" content="{{ .Site.Title }}" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:type" content="website" />
        {{ with $data.BasicInfo.Photo }}
            <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
        {{ with $data.Profile | htmlUnescape | emojify | truncate 200 }}
            <meta property="og:description" content="{{ . }}" />
            <meta name="description" content="{{ . }}" />
        {{ end }}
    {{ end }}

    {{ if .Site.GoogleAnalytics }}
        {{ template "_internal/google_analytics.html" . }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
</head>
