.contact {
    // line-height: 2rem;
    // margin-top: 1rem;

    &__list{
        display: flex;
        /* margin: 0 auto; */
        /* width: 100%; */
        // max-width: 725px;
        flex-wrap: wrap;
        margin-left:150px;
    }

    &__item {
        display: flex;
        align-items: center;
        // min-width: calc(33% - 5px);
        // margin-bottom: 10px;
        // margin-right: 5px;
        color: $color-text-primary;
        & > i {
            font-size: 1.7rem;
            margin-right: 0.5rem;
            color: $color-icon-primary;
        }
        &:not(:first-child)::before{
            content: '|';
            padding: 0px 5px;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-text-primary;
        &:hover{
            text-decoration: underline;
        }
    }

    @media print {
        &__link {
            text-decoration: underline;
        }
    }

    @media only screen and (max-width: 800px){
        &__list{
            justify-content: center;
            margin-left:0px;
        }
        // &__item {
        //     min-width: auto;
        //     margin-right: 10px;
        // }
    }
}