.contact {
    line-height: 2rem;

    &__list{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        margin-bottom: 10px;
    }

    &__item {
        display: flex;
        font-size: 1.15rem;
        align-items: center;

        & > i {
            color: $color-right-col-icon-primary;
            font-size: 1.7rem;
            margin-right: 0.5rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-dark;
        &:hover{
            text-decoration: underline;
        }
    }
}