.education_section{
    margin-left: 0px;
}

.container{
    display: flex;
    margin-bottom: 20px;
    .left-container{
        width: 150px;
        .timeline__detail{
            font-size: 1.15rem;
        }
    }
    .right-container{
        flex: 1;

        .course{
            font-weight: 600;
        }

    }
}
@media only screen and (max-width: 800px){
    .container{
        flex-direction: column
    }
}

.education {
   

    
    &__item {
        @include avoid-break;
    }

    &__place{
        // font-weight: 500;
        font-size: 1.2rem;
    }
    &__date{
        // font-weight: 500;
        font-size: 1.2rem;
    }
}