.total__experience{
    // font-size: 1.7rem;
    // margin: 10px 0px;
    font-weight: 400;
    
    &__timeline {
        font-weight: 600;
        font-size: large;
    }

}
.experience_section{
    margin-left: 0px;
}

.experience {

    // margin-left: 20px;

    .container{
        display: flex;
        margin-bottom: 20px;
        .left-container{
            width: 150px;
            .timeline__detail{
                font-size: 1.15rem;
            }
        }
        .right-container{
            flex: 1;

            .position{
                font-weight: 600;
            }

            ul{
                padding-left: 20px;
            }
        }
    }

    @media only screen and (max-width: 800px){
        .container{
            flex-direction: column
        }
    }
    &__item {
        display: block;
        position: relative;
        &:not(:first-child) {
            padding-top: 1.5rem;
        }
        margin-bottom: 10px;
        margin-top: 10px;

        // &::before {
        //     content: "";
        //     height: 90%;
        //     width: 1.5px;
        //     position: absolute;
        //     background: linear-gradient($color-page-background, rgba(255, 255, 255, 0));
        //     //background: linear-gradient(blue, red);
        //     margin-top: 25px;
        // }

        &:not(:first-child) {
            &::before {
                top: 0;
                content: "";
                height: 1px;
                position: absolute;
                left: 0;
                width: 90%;
                background:  $color-secondary;
            }
        }
 
    }

    &__header {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    &__job__list{
        list-style-type: none;   
        margin-left: 5px;
    }
    &__job__disc{
        position: relative;
        display: block;
        border-radius: 50%;
        background-color: $color-secondary;
        margin-bottom: calc(0.8rem * -1);
        height: 0.6rem;
        width: 0.6rem;
        top: 0.7rem;
        left: -2rem;
    }

    &__job {
        margin-left: 20px;
        margin-bottom: 2rem;
        position: relative;

        &:not(:last-child) {
            &::before{
                content: "";
                position: absolute;
                left: -1.8rem;
                top: 2rem;
                height: calc(100%);
                width: 2px;
                background-color: $color-secondary;
            }
        }

    }

    // &__company,
    // &__position {
    //     text-align: left;
    //     width: 70%;
    //     float: left;
    // }

    &__company {
        color: $color-text;
    }

    &__company__timeline{
        // font-weight: 500;
        font-size: 1.2rem;
    }

    &__position {
        color: $color-text;
        font-weight: 500;
    }

    &__date,
    &__place {
        color: $color-text;
        // font-weight: 500;
        // font-size: 1.2rem;
    }

    &__place {
        &::before {
            font-family: 'Material Icons';
            color: $color-icon-primary;
            font-size: 1.1rem;
            content: 'place';
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
        }
    }
    
    &__list{
        margin-top: 5px;
    }

    &__bullet {
        list-style: disc inside;
        // margin-left: 1rem;
    }

    &__badges {
        display: block;
        text-align: right;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &__badge {
        font-size: 0.9rem;
        font-weight: 400;
        display: inline-block;
        color: $color-icon-primary;
        border-radius: 1rem;
        padding: 0.1rem 0.6rem;
    }
}
