.menu{
    position: absolute;
    top: -90px; 
    right: 40px;
    transition: all 0.2s ease-in-out;

    ul{
        list-style: none;
        padding: 5px;
        background: #eaeaea;
        border-radius: 0px 0px 0px 5px; 

        li{
            padding: 10px 10px;
            cursor: pointer;
            i{
                font-size: 15px;
                margin-right: 5px; 
            }

            &:hover{
                background: #fbfbfb;
            }

            &:not(:last-child){
                border-bottom: 1px solid #aaa;
            }
        }
    }

    .button-container{
        text-align: right;
        #menuButon{
            font-size: 20px;
            padding: 6px 10px;
            background: #eaeaea;
            border-radius: 0px 0px 8px 8px;
            cursor: pointer;
        }
    }
   

    &.open{
        top:0px;
    }
}

@media print {
    .menu {
        display: none;
    }
}

@media only screen and (max-width: 800px){
    .menu{
        position: absolute;
        top: -90px; 
        left: 7px;
 
        ul{
            border-radius: 0px 0px 5px 0px; 
        }

        .button-container{
            text-align: left;
        }
    }
  
}