.print{
    margin: 40px auto;
    text-align: center;

    .print-button{
        font-size: 1.5rem;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        color: $color-light;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: $color-icon-primary;
            border: 2px solid  $color-icon-primary;
        } 
    }
   
}

@media print {
    .print {
        display: none;
    }
}