.profile {
    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    &__img {
        width: auto;
        height: 200px;
        border-radius: 15%;
        border: 4px solid $color-primary;
    }

    &__details{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;

        .mainHeading{
            margin-bottom: 1rem;
            border-bottom: 3px solid;
        }
    }

    @media only screen and (max-width: 800px){
        &__container {
            flex-direction: column;
            align-items: center;
        }
    
        &__img {
            width: 100px;
            height: auto;
        }
    
        &__details{
            padding-left: 0rem;
            align-items: center;

            .mainHeading{
                font-size: 3rem;
            }
            .subHeading{
                font-size: 2rem;
            }
        }
    }

    @media print {
        &__img {
           display: none;
        }
    }
}