.profile {
    &__container {
        display: flex;
        justify-content: space-evenly;
    }

    &__img {
        width: auto;
        height: 225px;
        border-radius: 50%;
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
    }
}