.section {
    display: block;
    // margin-bottom: 2rem;
    margin-bottom: 4rem;

    &__heading {
        width: 100%;
        overflow: hidden;
    }

    &__content{
        margin-left: 150px;
    }

    &__title {
        position: relative;
        margin-bottom: 1rem;
        border-bottom: 1px solid;

        // &::after {
        //     content: '';
        //     position: absolute;
        //     border-top: 1px solid;
        //     border-bottom: 1px solid;
        //     border-color: $color-secondary;
        //     width: 100%;
        //     height: 4px;
        //     margin-left: 1.5rem;
        //     margin-top: 1.5rem;
        //     transition: all 0.5s ease-in-out;
        // }

        // &:hover::after {
        //     border-color: $color-primary;
        // }
    }
}
