.skills {
    list-style: none;

    &__details{
        margin-left: 15px; 
    }
    &__group {
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;

        & li{
            display: inline-block;
            color: $color-text-primary;
            span{
                font-size: 105%;
                font-weight: 500;
              
                transition: all 0.2s ease-in-out;
                padding: 3px;
                border-radius: 2px;
                margin: 0 3px;

                &:hover {
                    background-color: $color-primary;
                    color: $color-light;
                }
            }

            &:not(:last-child)::after{
                content: " | "
            }

     
        }
    }
}