.content {
    padding: 2rem 3rem;

    .content_column{
        display: flex;
        &__left {
            width: $site-left-col;
        }
    
        &__right {
            padding-left: 1.5rem;
            margin-left: 1.5rem;
            width: $site-right-col;
            border-left: 1px solid $color-secondary;
            // background-color: $color-right-col-background;
            // color: $color-right-col-body-text;
    
            // @include shadow(0.5);
        }
    }

    @media screen {
        &::after {
            content: '2024 © by Sumit Mangela';
            width: 100%;
            text-align: center;
            width: 100%;
            display: block;
            color: darken($color-light, 10%);
        }
    }

   
}
