.content {
    padding: 5rem 10rem;

    .content_column{
        display: flex;
        &__left {
            width: $site-left-col;
        }
    
        &__right {
            padding-left: 1.5rem;
            margin-left: 1.5rem;
            width: $site-right-col;
            border-left: 1px solid $color-secondary;
    
            // @include shadow(0.5);
        }
    }

    @media screen {
        &::after {
            content: '2025 © by Sumit Mangela';
            width: 100%;
            text-align: center;
            width: 100%;
            display: block;
            color: #aaa;
            margin-top: -30px;
            font-size: 1.2rem;
        }
    }
    
    @media only screen and (max-width: 800px){
        padding: 3rem 3rem;
        
        .content_column{
            flex-direction: column;
            &__left {
                width: 100%;
            }
        
            &__right {
                padding-left: 0px;
                margin-left: 0px;
                width: 100%;
                border-left: none;
            }
        }
    }
}
