body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.3rem;
    color: $color-text;
}

.mainHeading {
    text-transform: uppercase;
    font-size: 4rem;
    color: $color-secondary;
    line-height: 70px;
    letter-spacing: -1;

    & span {
        color: $color-primary;
    }
}

.subHeading{
    text-transform: uppercase;
    font-size: 3rem;
    color: $color-secondary;
    font-weight: 500;
}

.section__title {
    font-size: 1.7rem;
    color: $color-text;
    margin-bottom: 0.2rem; 
    font-weight: 400;
}

h1 {
    text-transform: uppercase;
    // font-family: 'Oswald', sans-serif;
    font-family: system-ui, sans-serif;
    font-weight: 400;
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.12rem;
    font-weight: 400;
}